.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    border: 1px solid grey;
    position: relative;
}


.product img {
    width: 250px;
    height: 250px;
    align-self: center;
    padding: 10px 0;
    border-radius: 5px;
}

.product button {
    background-color: navajowhite;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid orangered;
    font-weight: bold;
    padding: 10px 0;




}