.header{
    height: 80px;
    display: flex;
    background-color: navy;
    justify-content: space-between;
    align-items: center;
}

.header img{
    padding-left: 100px;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-right: 100px;
    
}
nav a{
    padding-left: 10px;
    text-decoration: none;
    color:aqua;

}